.hexagon {
  height: clamp(2em, 4vw, 10em);
  aspect-ratio: 0.866;
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  background: var(--color, grey);
  cursor: var(--cursor, pointer);
  transition: background-color 0.2s ease;
}

.hexagon:hover:not(:disabled) {
  opacity: 0.9;
}
